.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.wrap-modal {
  background-color: white;
  height: 85vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.wrap-modal.not-mobile {
  width: 70vw;
}
.modal-header {
  height: 4rem;
}
.modal-header .title {
  font-weight: bold;
}
.modal-content-custom {
  overflow-y: auto;
  display: flex;
}
.modal-footer-c {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e0e0e0;
  padding: 2px;
}
.body-left {
  flex: 6;
  padding: 10px;
}
.body-right {
  flex: 4;
  display: flex;
  justify-content: center;
}
.preview-video {
  justify-content: center;
  margin: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}
.group-input {
  margin-bottom: 1rem;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.group-title {
  font-weight: bold;
  font-size: 1rem;
}
.modal-content-custom .MuiDropzoneArea-root {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.MuiSvgIcon-root.MuiDropzoneArea-icon {
  color: #303f9f;
}
.MuiSvgIcon-root.MuiDropzoneArea-icon:hover {
  opacity: 0.8;
}
.overlay-lazy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
}
.overlay-lazy.show {
  display: flex;
}
