.upload-list {
  display: none;
  position: fixed;
  bottom: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  width: 20rem;
  background-color: white;
}
.upload-list.show {
  display: block;
}
.content-upload-list {
  border-radius: 5px;
  height: 0;
  animation-duration: 0.5s;
  animation-name: show-content-upload;
  overflow-y: auto;
}
.header-upload-list {
  padding: 7px;
  border-bottom: 1px solid #e0e0e0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-upload-list.show {
  height: 20rem;
  animation-name: collapse-content-upload;
}

@keyframes collapse-content-upload {
  from {
    height: 0;
  }
  to {
    height: 20rem;
  }
}
@keyframes show-content-upload {
  from {
    height: 20rem;
  }
  to {
    height: 0;
  }
}
.close.left {
  float: left;
}
.header-upload-list .title {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
}

.item-file {
  display: flex;
  align-items: center;
}
.item-file .title {
  flex: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.wrap-item:hover {
  background-color: #e0e0e0;
}
.wrap-item {
  padding: 10px;
}
